@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
body{
    font-family: "Caveat", cursive;
    max-width: 960px;
    padding: 20px;
}
:root{  
    --primary-color: #464d77;
    --secundary-color: #f9db6d;
    --accent1-color: #36827f;
    --accent2-color: #f4eded;

    --heading-font: 'Caveat', serif;
    --paragraph-font:'Caveat', serif;

    --nav-background-color:var(--primary-color);
    --nav-link-color:var(--secundary-color);
    --nav-hover-link-color:var(--accent1-color);
    --nav-hover-background-color:var(--accent2-color);
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--paragraph-font);
    color: var(--primary-color);
}
header{
    padding: 20px;
    background-color: var(--secundary-color);
}
p{
    padding: 25px;
}
nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a{
    display: block;
    color: var(--nav-link-color);
}
nav a:link, nav a:visited{
    color: var(--nav-link-color);
}
nav a:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}